<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="main.css" />
    <title>Login to BuzzShelter</title>
            <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    <div id="login" class="login">

        <img src="images/homeless.png" class="logo">

            <p>
                <input type="text" name="username" maxlength="30" placeholder="Username" id='username'/><br>
                <input type="password" name="password" maxlength="30" placeholder="Password" id='password'/><br>
                <button onclick="login()">Login</button>
            </p>

    </div>

    <div id="options" class="options">

        <button onclick="newUser()">Create Account</button>
        <button onclick="forgotPassword()">Forgot Password</button>

    </div>
    <script src="index.js"></script>


</body>
</html>