<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="main.css" />
    <title>Login to BuzzShelter</title>
            <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div id="profile_header" class="profile_header">

        <button onclick="logout()">Logout</button>

    </div>

    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                <div class="progress">
                <div class="progress-bar" role="progressbar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
    
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="/upload.js"></script>

</body>
</html>