<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="main.css" />
    <title>Login to BuzzShelter</title>
            <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div id="profile_header" class="profile_header">

        <button onclick="logout()">Logout</button>

    </div>

    <script src="index.js"></script>
</body>
</html>