<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="main.css" />
    <title>Login to BuzzShelter</title>
            <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div id="profile_header" class="profile_header">

        <button onclick="logout()">Logout</button>
        <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>

    </div>

    <div id="sheltertable" class="sheltertable">
        <table id="targettable" style="width:100%">
            <tr>
            <th>UID</th>
            <th>Name</th> 
            <th>Maximum Capacity</th>
            <th>Restrictions</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Address</th>
            <th>Special Notes</th>
            <th>Phone Number</th>
            </tr>
        </table>
    </div>
    
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="/upload.js"></script>
      <script src="/index.js"></script>

</body>
</html>