<!DOCTYPE html>
<html>
<head>
    <title>Login to BuzzShelter</title>
            <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="/upload.js" type="text/javascript"></script>
</head>
<body>

    <div id="sheltertable_specific" class="sheltertable_specific">
        <table id="sheltertable" style="width:100%">
            <tr>
                <th>UID</th>
                <th>Name</th> 
                <th>Maximum Capacity</th>
                <th>Restrictions</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Address</th>
                <th>Special Notes</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                <td id="data1">Hello</td>
            </tr>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/upload.js"></script>
    <script src="/index.js"></script>


</body>
</html>